body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header-section */

header{
    background-image: url("https://images.pexels.com/photos/159844/cellular-education-classroom-159844.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
nav{
    background: rgba(0, 0, 0, .3);
    padding: 1% 10%;
}
nav .logo{
    display: inline;
}
nav span{
    color: white;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}
nav .menu{
    display: inline;
    float: right;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
header h1{
    font-size: 3.5rem;
    font-family: 'Handlee', cursive;
    color: white;
    font-weight: 400;
    text-align: center;
    padding-top: 190px;
}

/* topper-section */

.topper{
    margin: 5% 8%;
}
.topper .content{
    width: 32%;
    float: left;
    line-height: 1.2;
}
.topper .img-content{
    width: 40%;
    float: right;
    margin-right: 10%;
}
h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}
.brand-title{
    color: #363958;
}
.brand-name{
    color: #FF8367;
}
p{
    color: dimgray;
}
a{
    margin: 10px 0px;
    display: inline-block;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 400;
    background-image: linear-gradient(360deg,#FF8367, tomato);
    padding: 10px 20px;
    border-radius: 5px;
}
.img-content img{
    width: 80%;
}

/* about-section */

.about-section{
    margin: 0 8%;
}
.about-section .content{
    width: 30%;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}
.about-section .img-content{
    width: 40%;
    float: left;
    margin-top: 10%;
}
i.fa.fa-download{
    padding-right: 15px;
    font-size: 15px;
}

/* project-section */

.project-section{
    height: 750px;
    width: 100%;
    margin: 50px 0;
    display: inline-block;
    background-color: rgb(247, 247, 247);
}
.project-section .content{
    width: 29%;
    float: left;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
}
.project-section div{
    margin: 100px 5% 0 5%;
}
.project-section h2{
    text-align: center;
    color: #363958;
    margin: 50px 0;
    font-size: 30px;
}
.project-section h2 span{
    color: #F46060;
}
h3{
    color: #363958;
}
.project-section .content img{
    width: 100%;
}

/* buttom-section */

.buttom-section {
    margin-bottom: 80px;
    text-align: center;
    padding-right: 85px;
}
.buttom-section img{
    width: 50%;
}
.buttom-section h2{
    position: relative;
    float: left;
    left: 400px;
    top: 35px;
    color: white;
    font-size: 30px;
}
.buttom-section a{
    position: relative;
    float: right;
    right: 315px;
    top: 50px;
}


/* footer */

footer{
    background-color: #212121;      
}
footer .content{
    height: 400px;
    margin-left: 250px;
}
footer .content p{
    border-bottom: 1px solid #282628;
    font-size: 13px;
}
footer .text-content{
    float: left;
    width: 25%;
    padding: 50px 20px;
}
footer img{
    width: 8%;
    padding: 10px 5px;
}
footer h4{
    color: white;
    margin: 0;
}
footer h5{
    color: white;
    margin: 0;
}
footer .buttom-text{
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
    font-size: 13px;
}
footer span{
    color: #878786;
}